html {
    background-color: rgb(126, 158, 195);
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    caret-color: transparent;
    min-height: 100vh;
    margin: 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.title {
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 20px;
}

button {
    border-radius: 6px;
    font-size: larger;
    padding: 5px;
}

#colorChooser {
    width: 60px;
    height: 30px;
    
}

.div-container {
    background-color: chartreuse;
    
    border: 6px;
}

.slider {
    width: 200px;
    background: black;
    
}


    .lower-container {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}


.footer img {
    height: 20px;
}

.footer {
display: flex;
gap: 10px;
align-items: center;
font-size: 18px;
margin-top: auto;
height: 32 px;
}

